@font-face {
    font-family: "Kdam Thmor Pro";
    src: 
        local('Kdam Thmor Pro Regular'), 
        local('KdamThmorPro-Regular'),
        url('../fonts/KdamThmorPro-Regular.woff2') format('woff2'),
        url('../fonts/KdamThmorPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}